.dateTimeBlock{
    width: calc(100% - 10px);
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 15px;
    transition: .3s;

    h3{
        color: #29A19C;
        text-align: left;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.03em;
    }

    .info{
        margin-top: 20px;
        font-size: 18px;
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #282846;

        .comp{
            width: 50%;
            text-align: left;
            font-size: 18px;

            .text{
                width: 100%;
                display: flex;
                align-items: center;
                font-size: 20px;
                p{
                    margin-left: 12px;
                }
            }
        }
    }

    &.dark {
        background: #2C3440;
        .info{
            color: #F9F9F9;
        }
    }
}


@media screen and (max-width: 890px) {
    .dateTimeBlock{
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 450px) {
    .dateTimeBlock{    
        .info{    
            .comp{
                width: 50%;
                text-align: left;
                font-size: 14px;
    
                .text{
                    font-size: 18px;
                    
                    span{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
