.about{
    width: calc(100% - 10px);
    margin-top: 20px;
    min-height: 300px;
    padding: 20px;
    border-radius: 15px;
    background: #FFFFFF;
    transition: .3s;

    h3{
        color: #29A19C;
        text-align: left;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.03em;
        margin-bottom: 20px;
    }

    p{
        font-weight: 400;
        font-size: 16px;
        color: #282846;
        text-align: left;
    }

    a{
        color: #282846; 
        text-decoration: underline;
        transition: color .2s;
        &:hover{
            color: #29A19C;
        }
    }

    .social{
        margin-top: 20px;
        display: flex;
        gap: 10px;

        a{
            font-size: 32px;
            color: grey;
            transition: color .2s;

            &:hover{
                color: #29A19C;
            }
        }
    }

    &.dark{
        background: #2C3440;

        p{
            font-weight: 400;
            font-size: 16px;
            color: #F9F9F9;
        }

        a{
            color: #F9F9F9; 
            &:hover{
                color: #29A19C;
            }
            
        }

        .social{    
            a{
                color: grey;
                &:hover{
                    color: #29A19C;
                }
            }
        }
    }
}

@media screen and (max-width: 890px) {
    .about{
        width: 100%;
    }
}